
<% provide(:title, "Calendar") %>

<div class="col-md-2">
	<h2>Create Appointment</h2>
</div>

<div class="col-md-10">
<div class="calendar">
	<%= month_calendar do |date| %>
	  <%= date.day %>
	<% end %>
</div>
</div>
