<% provide(:title, "Home") %>

<div class="center jumbotron">
	<h1>Welcome to ADMD</h1>
		<div>
		</div>
		<div>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
		</div>
</div>

<div class="center">
	<p>Holder</p>
</div>


<div class="center"><%= link_to "Sign Up", signup_path, class: "btn btn-md btn-primary" %></div>



