


<table class="patientTable">
	<tr>
		<th> ID </th>
		<th> Name </th>
		<th> DOB </th>
	</tr>
	<tr>
		<td><%= patient.id %></td>
		<td><%= link_to patient.name, patient %></td>
		<td><%= patient.dob %></td>
	</tr>

</table>