<% provide(:title, @patient.name) %>

<div class="row">
	<div class="options_row center">
		<p>Here will be buttons for each: Appointments, Events, Billing, Edit</p>
	</div>
</div>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @patient.name %>
      </h1>
    </section>
  </aside>
</div>