<% if logged_in? %>
<% provide(:title, 'Appointments') %>

<h1>All Appointments</h1>

<%= will_paginate %>
<div class="appointments">

</div>

<table class="appointmentTable">
	<tr>
		<th class="text-center">Patient</th>
		<th class="text-center">Title</th>
		<th class="text-center">Office</th>
		<th class="text-center"></th>
		<th class="text-center"></th>
		<th class="text-center"></th>
		<th class="text-center"></th>
</table>

<% end %>