<% if logged_in? %>
<% provide(:title, 'Appointments') %>

<h3>Monthly Appointments</h3>


<div class="col-md-2">
	<h2>Create Appointment</h2>
</div>

<div class="col-md-10">
<div class="calendar">
	<%= month_calendar events: @appointments do |date| %>
			<div class="calendar_appointment">

		</div>
	  <%= date.day %>
	<% end %>
</div>
</div>
<% end %>